/* 
  Buscar la palabra "Resolver" para ver los problemas pendientes a resolver
*/
html {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  background-color: #151728;
  display: flex;
  height: 100vh;
  color: #fff;
  overflow: hidden;
}
.left-side {
  width: 260px;
  overflow: auto;
}
.logo {
  letter-spacing: 4px;
  font-size: 20px;
  line-height: 68px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.side-content {
  padding: 20px;
}
.side-title {
  font-family: "DM Sans";
  color: #5c5e6e;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}
.side-nav {
  display: flex;
  flex-direction: column;
}
.side-nav a {
  text-decoration: none;
  color: #9c9cab;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.side-nav a:last-child {
  margin-bottom: 0px;
}
.side-nav a:hover {
  color: #fff;
  stroke: #fff;
}
.side-nav a svg {
  width: 16px;
  padding-right: 7px;
}
.left-side .side-content:last-child {
  border-top: 1px solid #272a3a;
}
/*#9c9cab*/

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.search-bar {
  background-color: #151728;
  display: flex;
  align-items: center;
  padding: 15px;
}
.search-bar svg {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.search-bar input {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  font-weight: 600;
  font-size: 18px
}
.search-bar input::placeholder {
  color: #5c5d71;
}
.main-container {
  padding: 15px;
  background-color: #24273b;
}
.profile {
  position: relative;
  height: 300px;
  border-radius: 4px;
}
.profile--cover-photo {
  height: 240px;
  background-image: url(https://images.unsplash.com/photo-1508247967583-7d982ea01526?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}
.profile--photo {
  position: absolute;
  align-items: center;
  display: flex;
  z-index: 1;
  bottom: 16px;
  left: 24px;
}
.profile--photo img {
  border-radius: 50%;
  border: 3px solid #000;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.profile--photo img:hover {
  cursor: pointer;
  border: 3px solid #fff;
}
.profile--photo span {
  margin-left: 24px;
  margin-bottom: 24px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
.profile--nav {
  background-color: #151728;
  display: flex;
  justify-content: center;
}
.profile--nav__item {
  padding: 20px 16px;
  color: #5c5e6e;
  text-decoration: none;
}
.profile--nav__item:hover {
  cursor: pointer;
  color: #fff;
  background-color: #1b1d2e;
  border-bottom: 3px solid blue;
}
.profile--nav__item--active {
  color: #fff;
  background-color: #1b1d2e;
  border-bottom: 3px solid blue;
}
.timeline {
  display: flex;
  padding-top: 20px;
}
.timeline-left {
  background-color: transparent;
  width: 320px;
  margin-right: 20px;
}
.timeline-intro {
  background-color: #151728;
  border-radius: 4px;
  padding: 10px 15px 15px 15px;
}
.intro-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.intro-title span {
  font-family: "DM Sans", sans-serif;
  color: #5c5e6e;
  font-weight: 900;
  font-size: 18px;
}
.intro-title svg:hover {
  cursor: pointer;
  stroke: #fff;
}
.intro-info {
  font-size: 15px;
}
.info-item {
  margin-bottom: 14px;
  display: flex;
  align-self: center;
  color: #c3c5d5;
}
.info-item svg {
  padding-right: 10px;
}
.info-item a {
  padding-left: 5px;
  color: #1771d6;
  text-decoration: none;
}
.info-item:last-child {
  margin-bottom: 0px;
}
.timeline-event {
  background-color: #151728;
  height: 230px;
  margin: 20px 0px;
  padding: 10px 10px;
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
}
.event--cover-photo {
  background-image: url(https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 180px;
}
.cover-photo--date {
  display: inline-block;
  margin: 15px;
}
.date-month {
  background-color: #1687fa;
  font-weight: 600;
  padding: 7px 20px;
  color: #fff;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.date-day {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  backdrop-filter: blur(4px);
  text-align: center;
  padding: 5px 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.event-info {
  padding-top: 10px;
  padding-left: 5px;
}
.info-title {
  margin-bottom: 5px;
  color: #c3c5d5;
  font-weight: 600;
}
.info-subtitle {
  font-weight: 500;
  color: #5c5e6e;
}
.timeline-pages {
  background-color: #151728;
  border-radius: 4px;
  padding: 10px 15px 15px 15px;
}
.content-user {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-family: "DM Sans";
}
.content-user:last-child {
  margin-bottom: 0px;
}
.content-user:hover {
  cursor: pointer;
}
.user-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  object-fit: cover;
  object-position: center;
}
.user-name {
  color: #ccc8db;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.user-name:hover {
  color: #fff;
}
.timeline-right {
  flex-grow: 1;
}
.timeline-status {
  background-color: #151728;
  border-radius: 4px;
}
.status-header {
  display: flex;
  align-items: center;
  font-family: "DM Sans";
  font-weight: 500;
  padding: 20px 0px 10px 15px;
  border-bottom: #24273b solid 1px;
}
.status-header--item {
  text-decoration: none;
  color: #ccc8db;
  margin-right: 15px;
  line-height: 0.7;
  padding: 10px 15px;
  border-radius: 20px;
}
.status-header--item:hover {
  color: #fff;
  background-color: #2e2e40;
}
.status-header--item__active {
  background-color: #2e2e40;
  color: #fff;
}
.status-main {
  display: flex;
}
.status-main--textarea {
  background-color: transparent;
  border-color: transparent;
  border-width: 0;
  width: 100%;
  padding: 0;
  resize: none;
  color: #fff;
  border: none;
  min-height: 80px;
  max-height: 120px;
  margin: 10px 20px;
}
.status-main--textarea:focus,
.status-main--textarea:active {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}
.status-actions {
  display: flex;
  border-top: #24273b solid 1px;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}
.actions-options--item {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ccc8db;
  padding: 8px 10px;
  line-height: 0.7;
  border-radius: 20px;
}
.actions-options--item:hover {
  color: #fff;
  background-color: #2e2e40;
}
.actions-options--item svg {
  width: 16px;
  padding-right: 5px;
}
.actions-share {
  background-color: #1b86f9;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: box-shadow 1s;
  font-weight: 600;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 20px #1b86f9;
}
.actions-share:hover {
  box-shadow: none;
}
.timeline-publication {
  background-color: #151728;
  border-radius: 4px;
  margin: 20px 0;
  width: 450px;
}
.publication-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.publication-header--user {
  display: flex;
  align-items: center;
}
.publication-header svg {
  cursor: pointer;
  width: 28px;
  align-self: flex-start;
}
.publication-header svg:hover {
  stroke: #fff;
}
.user--profile-status {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.user-status--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-status--info__container {
  margin-bottom: 5px;
}
.status-info--type {
  text-decoration: none;
  color: #1771d6;
  cursor: pointer;
  font-weight: bolder;
}
.status-info--date {
  color: #595c6c;
  font-size: 15px;
  font-weight: 600;
}
.publication-footer {
  padding: 5px;
}
.footer-status--item {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #a2a4b4;
  margin-right: 8px;
  padding: 8px;
  line-height: 0.7;
  border-radius: 20px;
}
.footer-status--item:hover {
  background-color: #2e2e40;
}
.footer-status--item__active,
.footer-status--item__active svg {
  color: #f33e58;
  font-weight: 700;
  fill: #f33e58;
}
.footer-status--item svg {
  width: 16px;
  margin-right: 3px;
}
.publication-content {
  padding: 0px 12px;
}
.publication-content--images {
  display: flex;
  max-height: 150px;
  margin-top: 10px;
}
.content-images--photo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  cursor: pointer;
}
.publication-content--images > .content-images--photo {
  width: 50%;
}
.content-images--right {
  width: 50%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.content-images--right .content-images--photo {
  height: calc(50% - 5px);
}
.content-images--right .content-images--photo:first-child {
  margin-bottom: 10px;
}
.right-side {
  background-color: #151728;
  width: 300px;
  overflow: auto;
}
.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.account-activity {
  display: flex;
  align-items: center;
}
.activity-message,
.activity-notify {
  cursor: pointer;
  color: #64677a;
  width: 20px;
  height: 20px;
}
.activity-message {
  margin-right: 15px;
}
.account-activity svg:hover {
  color: #fff;
}
.account-profile {
  display: flex;
  align-items: center;
}
.account-profile--user {
  color: #64677a;
  font-weight: 600;
  font-size: 17px;
  margin-right: 10px;
  cursor: pointer;
}
.account-profile--user:hover {
  color: #fff;
}
.account-profile--img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}
.account-profile--svg {
  color: #64677a;
  width: 26px;
  cursor: pointer;
}
.account-profile--svg:hover {
  color: #fff;
}
.stories .side-content:first-child {
  border-bottom: 1px solid #272a3a;
}
.stories-content{
  padding-top: 10px;
}
.stories-content--user {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.user-content--img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #e2b96c;
  margin-right: 10px;
  cursor: pointer;
}
.user-container--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-content--name{
  font-size: 15px;
  font-family: "DM Sans";
  color: #ccc8db;
  margin-bottom: 3px;
  cursor: pointer;
}
.user-content--date{
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #595c6c;
}
.contacts-container{
  padding-top: 10px;
}
.contact-content--user{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.contact-content--user:last-child{
  margin-bottom: 0;
}
.contacts-container .user-content--img{
  border: none;
}
.contacts .user-content--name {
  font-size: 15px;
  font-family: "DM Sans";
  color: #ccc8db;
  margin-bottom: 0;
  cursor: pointer;
}
.user-content--status{
  background-color: #7fd222;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
}
.offline{
  background-color: #606a8d;
}
.idle{
  background-color: #dd1c20;
}
.search-contact{
  border-top: 1px solid #272a3a;
  color: #64677a;
  display: flex;
  padding: 10px 13px;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  margin-top: auto;
  background-color: #151728;
}
.search-contact--container{
  display: inline-flex;
  align-items: center;
}
.search-contact--container svg{
  margin-right: 5px;
}
.search-contact svg{
  width: 20px;
  height: 20px;
}
.search-contact svg:hover{
  color: #fff;
}
.search-contact--text{
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  font-weight: 600;
  display: inline-flex;
  width: 150px;
}
.search-contact--text::placeholder {
  color: #5c5d71;
}
/*
  Para entender las partes del Scroll 
  https://ed.team/blog/personaliza-el-scroll-de-tu-web-solo-con-css
*/
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
